.line_input{
    width: 100%;
    background-color: transparent;
    border-style:none;
    border-bottom: 1px solid #333;
    margin-bottom: .5em;
    font-size: larger;
    font-family: '微软雅黑', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}
.line_input:focus{
    background-color: transparent;
    outline: none;
    border-style:none;
    border-bottom: 3px solid #0af;
}

.input-title{
    font-size: larger;
    font-family: '微软雅黑', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}